In [1]:
import pandas as pd
import numpy as np
import itertools
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
train=pd.read_csv(r'C:\Users\hp\Downloads\fake-news\train.csv')
test=pd.read_csv(r'C:\Users\hp\Downloads\fake-news\test.csv')

In [3]:
train=train.fillna('')
test=test.fillna('')

In [4]:
train['total'] = train['title']+' '+train['author']+' '+train['text']
test['total']=test['title']+' '+test['author']+' '+test['text']

In [5]:
train.head()

,id,title,author,text,label,total
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,"FLYNN: Hillary Clinton, Big Woman on Campus - ..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,Why the Truth Might Get You Fired Consortiumne...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,15 Civilians Killed In Single US Airstrike Hav...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,Iranian woman jailed for fictional unpublished...

In [6]:
test.head()

,id,title,author,text,total
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning...","Specter of Trump Loosens Tongues, if Not Purse..."
1,20801,Russian warships ready to strike terrorists ne...,,Russian warships ready to strike terrorists ne...,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...,#NoDAPL: Native American Leaders Vow to Stay A...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different...","Tim Tebow Will Attempt Another Comeback, This ..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...,Keiser Report: Meme Wars (E995) Truth Broadcas...

In [7]:
train_x=train["total"]
test_x=test["total"]
train_y=train["label"]

In [8]:
vectoriser=TfidfVectorizer(stop_words="english",max_df=0.7)

In [9]:
train_x.head()

0    House Dem Aide: We Didn’t Even See Comey’s Let...
1    FLYNN: Hillary Clinton, Big Woman on Campus - ...
2    Why the Truth Might Get You Fired Consortiumne...
3    15 Civilians Killed In Single US Airstrike Hav...
4    Iranian woman jailed for fictional unpublished...
Name: total, dtype: object

In [10]:
train_x=vectoriser.fit_transform(train_x.values.astype('U'))
test_x=vectoriser.transform(test_x.values.astype('U'))

In [11]:
classifier=PassiveAggressiveClassifier(max_iter=50)
classifier.fit(train_x,train_y)
y_pred=classifier.predict(test_x)

In [12]:
submission2 =pd.DataFrame()
submission2["id"]=test["id"]
submission2['label'] = y_pred
submission2.to_csv('submission.csv',index=False)

In [13]:
submission2.head()

      id  label
0  20800      0
1  20801      1
2  20802      1
3  20803      0
4  20804      1